.container-6{
    background: rgba(49, 47, 48, 1);
    width: 100%;
    height: 20vh;
}

.download-text{
    color: white;
}

.download-bt{
    width: 165px;
    height: 49px;
    background: rgba(246, 118, 44, 1);
    color: white;
    border: none;
    border-radius: 10px;
}